@font-face{
  font-family: Vazir;
  font-style: normal;
  font-weight: 800;
  src: url('./setup/assets/font/Vazir-Bold.eot');
  src: url('./setup/assets/font/Vazir-Bold.eot') format('mbedded-opentype'),
       url('./setup/assets/font/Vazir-Bold.woff') format('woff'),
       url('./setup/assets/font/Vazir-Bold.ttf') format('truetype');
}
@font-face{
  font-family: Vazir;
  font-style: normal;
  font-weight: 600;
  src: url('./setup/assets/font/Vazir-Medium.eot');
  src: url('./setup/assets/font/Vazir-Medium.eot') format('mbedded-opentype'),
       url('./setup/assets/font/Vazir-Medium.woff') format('woff'),
       url('./setup/assets/font/Vazir-Medium.ttf') format('truetype');
}
@font-face{
  font-family: Vazir;
  font-style: normal;
  font-weight: 500;
  src: url('./setup/assets/font/Vazir-Light-FD.eot');
  src: url('./setup/assets/font/Vazir-Light-FD.eot') format('mbedded-opentype'),
       url('./setup/assets/font/Vazir-Light-FD.woff') format('woff'),
       url('./setup/assets/font/Vazir-Light-FD.ttf') format('truetype');
}
body {
  direction: rtl;
}
*{
  font-family: "Vazir"!important;
}

